@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World</h1>
    <p class="lead">Ini Hello World</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hello World</h2>
        <p>
            Cie Hello World!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>